*

!/src
!/models/dqns-7704f2-Gr7_Cr200_Sw4.0_Sv-20_Sf-15.0_Dr4_Oo-20.0_Ms20_Pb6_D0.85_M20000_m4000_B32_U20_T4.h5
!/models/models/dqnc-ddbad7-Gr7_Cr200_Sw0.1_Sv-10.0_Sf-10.0_Dr16.0_Oo-20.0_Ms40_Pb6_D0.8_M20000_m4000_B32_U20_T4.h5 
!/do_run.sh
!/run_best_single.sh
!/run_best_multi.sh
!/requirements*
!/roads.png
!/routes.csv

**/*.pyc
